<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx4643420a4175ec70</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.zxsd.smile.ios.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zxsd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>vipshop</string>
		<string>yhd</string>
		<string>wccbyihaodian</string>
		<string>dianping</string>
		<string>imeituan</string>
		<string>meituanwaimai</string>
		<string>jd</string>
		<string>openApp.jdMobile</string>
		<string>mqqapi</string>
		<string>iosamap</string>
		<string>tbopen</string>
		<string>taobaolite</string>
		<string>tmall</string>
		<string>taobao</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>alipays</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>cmpassport.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>id6.me</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>mdn.open.wo.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>wostore.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>zzx9.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>我们需要使用相机来识别二维码或进行人脸识别认证</string>
	<key>NSContactsUsageDescription</key>
	<string>我们需要使用你的通讯录来方便您填写联系人</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要通过您的位置信息为您提供、推荐更好的服务</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们需要通过您的位置信息为您提供、推荐更好的服务</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要通过您的位置信息为您提供、推荐更好的服务</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我们需要使用相册来访问或保存您需要的图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要使用相册来访问或保存您需要的图片</string>
	<key>UIAppFonts</key>
	<array>
		<string>HanDingJianZhongHei-2.ttf</string>
		<string>Songti.ttc</string>
		<string>Akrobat-Regular.ttf</string>
		<string>Akrobat-ExtraBold.ttf</string>
		<string>Akrobat-Bold.ttf</string>
		<string>Akrobat-SemiBold.ttf</string>
		<string>SF-UI-Display-Black.otf</string>
		<string>SF-UI-Display-Bold.otf</string>
		<string>SF-UI-Display-Heavy.otf</string>
		<string>SF-UI-Display-Light.otf</string>
		<string>SF-UI-Display-Medium.otf</string>
		<string>SF-UI-Display-Regular.otf</string>
		<string>SF-UI-Display-Semibold.otf</string>
		<string>SF-UI-Display-Thin.otf</string>
		<string>SF-UI-Display-Ultralight.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>mtj_appkey</key>
	<string>dd4b80a54f</string>
	<key>mtj_debuglog</key>
	<string>0</string>
</dict>
</plist>
